.App,
.MapContainer {
  width: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.MapContainer {
  height: calc(100vh - 38px);
}

.MapContainer > div {
  width: 100% !important;
  height: 100% !important;
}

.MapNavigationControl {
  right: 10px;
  top: 10px;
}
